<div class="container">
  <h2>Bets for <%= @gee.name %></h2>

  <h3>Statistics</h3>
  <div id="bets-charts">
  </div>
  <div style="display: none;" id="hidden-data">
    <ul>
      <% @fields.each do |field| %>
        <li><%= field.id %> <%= field.name %></li>
      <% end %>
    </ul>
    <table>
      <tbody>
        <% @statistics.each do |stat| %>
          <tr>
            <td><%= stat['field_id'] %></td>
            <td><%= stat['value'] %></td>
            <td><%= stat['sum'] %></td>
            <td><%= stat['count'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <table>
    <thead>
    <tr>
      <th>User</th>
      <th>Quantity</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <% @bets.each do |bet| %>
        <tr>
          <td><%= bet.user.username %></td>
          <td><%= bet.quantity %></td>
          <td><%= link_to 'Details', gee_bet_path(@gee, bet), class: 'button' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Back to Gee', gee_path(@gee), class: 'button' %>
</div>
