<p id="notice"><%= notice %></p>

<h1>Bets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Gee</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.user.username %></td>
        <td><%= bet.gee.name %></td>
        <td><%= bet.quantity %></td>
        <td><%= link_to 'Details', gee_bet_path(@gee, bet), class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Gee', gee_path(@gee), class: "button" %>
