<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bet.user.username %>
</p>

<p>
  <strong>Gee:</strong>
  <%= @bet.gee.name %> <%= link_to 'Details', gee_path(@gee), class: "button" %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bet.quantity %>
</p>

<p>
  <strong>Answer:</strong>
  <% @bet.values.each do |value| %>
    <br>
    + <%= value.field.name %>:
    <% if value.field.ttype == 'Alternatives' %>
      <%= value.field.alternatives.find(value.value).value %>
    <% else %>
      <%= value.value %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Back', :back, class: "button" %>