<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Username</th>
      <th>Email</th>
      <th>Money</th>
      <th>Is Admin</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag(user.avatar.url(:thumb), class: "avatar-thumb-img") %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.money %></td>
        <td><%= user.is_admin %></td>
        <td>
          <%= link_to 'Show', user, class: "button" %>
          <% if current_user&.is_admin %>
            <%= link_to 'Edit', edit_user_path(user), class: "button" %>
            <%= link_to 'Destroy', user, class: "button", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
