<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Gees you have created:</strong>
  <ul>
    <% @user.gees.each do |gee| %>
      <li><%= gee.name %> | <%= link_to "Show gee", gee_path(gee) %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Gees you have participated:</strong>
  <ul>
    <% @user.bets.each do |bet| %>
      <li><%= "#{bet.gee.name} (bet #{bet.quantity})" %> | <%= link_to "Show bet", gee_bet_path(bet.gee, bet) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
