<div id="user-info">
  <div class="image-holder">
    <%= image_tag(current_user.avatar.url(:medium)) %>
  </div>

  <div id="user-details">
    <div id="user-title">
      <h1>
        <%= @user.username %>
        <% if @user.is_admin %> (Admin) <% end %>
      </h1>
      <% if @user == current_user or current_user&.is_admin %>
        <%= link_to 'Edit profile', edit_user_path, class: 'button' %>
      <% end %>
      <% if @user != current_user %>
        <% if @friendship_status == 'not_friends' %>
          <%= link_to 'Add friend', friend_path(@user), method: 'post', class: 'button' %>
        <% elsif @friendship_status == 'pending_request' %>
          <span class="button">Pending friendship request</span>
        <% elsif @friendship_status == 'friends' %>
          <%= link_to 'Remove friend', friend_path(@user), method: 'delete', class: 'button' %>
        <% end %>
      <% end %>
    </div>

    <table>
      <tr>
        <td><b>Email</b></td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td><b>Money</b></td>
        <td>$ <%= @user.money %></td>
      </tr>
    </table>
    <% if @user == current_user %>
      <%= link_to 'Find friends', users_path, class: 'button' %>
      <%= link_to 'My friends', friends_path, class: 'button' %>
      <%= link_to 'Who wants to be my friend?', '/friends/requests', class: 'button' %>
    <% end %>
    <% if current_user&.is_admin and @user == current_user %>
      <h3>Site administration</h3>
        <p>
          <%= link_to 'Show categories', categories_path, class: 'button' %>
        </p>
    <% end %>
  </div>
</div>

<button type="button" name="button" class="active button" id="gees-container-button">Gees</button>
<button type="button" name="button" class="button" id="bets-container-button">Bets</button>

<div id="gees-container">
  <%= 'No Gees' unless @gees.present? %>
  <% @gees.each do |gee| %>
    <div class="card">
      <div class="title"><%= gee.name %></div>
      <p><%= gee.description %></p>
      <table>
        <tr>
          <th>Category</th>
          <td><%= gee.category.name %></td>
        </tr>
        <tr>
          <th>Bets</th>
          <td><%= gee.bets.count %></td>
        </tr>
        <tr>
          <th>Money Well</th>
          <td><%= gee.bets.map { |bet| bet.quantity }.sum %></td>
        </tr>
        <tr>
          <th>Expiration</th>
          <td><%= gee.expiration_date %></td>
        </tr>
      </table>
      <%= link_to 'Show details', gee_path(gee), class: 'button' %>
      <% if gee.user != current_user %>
        <%= link_to 'Leave', "/gees/#{gee.id}/invite/#{current_user.id}", method: 'delete', class: 'red button' %>
      <% end %>
    </div>
  <% end %>
</div>

<div id="bets-container" style="display: none;">
  <%= 'No Bets' unless @user.bets.present? %>
  <% @user.bets.each do |bet| %>
    <div class="card">
      <div class="title"><%= bet.gee.name %></div>
      <p>$ <%= bet.quantity %></p>
      <%= link_to 'Show details', gee_bet_path(bet.gee, bet), class: 'button' %>
    </div>
  <% end %>
</div>
