<%= form_for(gee) do |f| %>
  <% if gee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gee.errors.count, "error") %> prohibited this gee from being saved:</h2>

      <ul>
      <% gee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]}, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :expiration_date %>
    <%= f.datetime_select :expiration_date %>
  </div>

  <div class="fields">
    <%= f.label :fields %>
    <div id="field-list">
      <%= render "field" %>
    </div>
    <a id="add-new-field">Add New Field</a>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div id="new-field-form" style="display: none">
    <%= render partial: "field" %>
</div>

<div id="new-alternative" style="display: none">
    <%= render partial: "alternative" %>
</div>
