<p id="notice"><%= notice %></p>

<h1>Gees</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>State</th>
      <th>Is public</th>
      <th>Expiration date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @gees.each do |gee| %>
      <tr>
        <td><%= gee.user.username %></td>
        <td><%= gee.name %></td>
        <td><%= gee.description %></td>
        <td><%= gee.category.name %></td>
        <td><%= gee.state %></td>
        <td><%= gee.is_public %></td>
        <td><%= gee.expiration_date %></td>
        <td><%= link_to 'Show', gee, class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gee', new_gee_path, class: "button" %>
