<div id="gees-index-head">
  <div>
    <h1>Find your Gee</h1>
    <%= link_to 'Create New Gee', new_gee_path, class: 'button' %>
  </div>
  <div>
    <h4>Export Gee History</h4>
    <%= link_to 'Download as CSV', gees_path(format: 'csv'), class: 'button' %><br><br>
    <%= link_to 'Download as Excel', gees_path(format: 'xls'), class: 'button' %>
  </div>
</div>

<div id="gees-index-body">
  <% @gees.each do |gee| %>
    <div class="card">
      <div class="title"><%= gee.name %></div>
      <p><%= gee.description %></p>
      <table>
        <tr>
          <th>Category</th>
          <td><%= gee.category.name %></td>
        </tr>
        <tr>
          <th>Bets</th>
          <td><%= gee.bets_amount %></td>
        </tr>
        <tr>
          <th>Money Well</th>
          <td><%= gee.money_well %></td>
        </tr>
        <tr>
          <th>Expiration</th>
          <td><%= gee.expiration_date %></td>
        </tr>
      </table>
      <%= link_to 'Show details', gee_path(gee), class: 'button' %>
    </div>
  <% end %>
</div>
