<p id="notice"><%= notice %></p>

<h1>Find your Gee</h1>

<div>
  <%= link_to 'Create New Gee', new_gee_path, class: "button" %>
  <br><br>
  <% @gees.each do |gee| %>
    <div class="card">
      <div class="title"><%= gee.name %></div>
      <p><%= gee.description %></p>
      <table>
        <tr>
          <th>Category</th>
          <td><%= gee.category.name %></td>
        </tr>
        <tr>
          <th>Bets</th>
          <td>PENDIENTE</td>
        </tr>
        <tr>
          <th>Money Well</th>
          <td>PENDIENTE</td>
        </tr>
        <tr>
          <th>Expiration</th>
          <td><%= gee.expiration_date %></td>
        </tr>
      </table>
      <%= link_to 'Show details', gee_path(gee), class: "button" %>
    </div>
  <% end %>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>State</th>
      <th>Is public</th>
      <th>Expiration date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @gees.each do |gee| %>
      <tr>
        <td><%= gee.user.username %></td>
        <td><%= gee.name %></td>
        <td><%= gee.description %></td>
        <td><%= gee.category.name %></td>
        <td><%= gee.state %></td>
        <td><%= gee.is_public %></td>
        <td><%= gee.expiration_date %></td>
        <td><%= link_to 'Show', gee, class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
