<div class="centered">
  <div id="gee-title">
    <h1><%= @gee.name %></h1>
    <% if @gee.is_public %>
      <div class="green tag">Public</div>
    <% else %>
      <div class="grey tag">Private</div>
    <% end %>
  </div>
  <p><%= @gee.description %></p>

  <table>
    <tr>
      <td><b>Category</b></td>
      <td><%= @gee.category.name %></td>
    </tr>
    <tr>
      <td><b>Expiration Date</b></td>
      <td><%= @gee.expiration_date %></td>
    </tr>
    <tr>
      <td><b>State</b></td>
      <td><%= @gee.state %></td>
    </tr>
    <tr>
      <td><b>Created by</b></td>
      <td><%= @gee.user.username %></td>
    </tr>
    <tr>
      <td><b>Creation date</b></td>
      <td><%= @gee.created_at %></td>
    </tr>
  </table>

  <h3><b>Fields</b></h3>
  <table>
    <thead>
    <tr>
      <td><b>Name</b></td>
      <td><b>Type</b></td>
      <td><b>Values</b></td>
    </tr>
    </thead>
    <% @gee.fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.ttype %></td>
        <td>
          <% if field.ttype == 'Number' %>
              One number between: <%= field.min_value %> - <%= field.max_value %>
          <% else %>
              One of the following alternatives:
              <ul>
                <% field.alternatives.each do |alternative| %>
                    <li><%= alternative.value %></li>
                <% end %>
              </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <% if !@gee.is_public %>
    <h3><b>Members</b></h3>
    <table>
      <% @gee.users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <% if @gee.user == current_user %>
            <td><%= link_to "X", "/gees/#{@gee.id}/invite/#{user.id}", method: 'delete', class: "button" %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <% if @gee.user == current_user %>
      <%= link_to "Invite friends", "/gees/#{@gee.id}/invite", class: "button" %>
    <% end %>
    <br><br>
  <% end %>

  <br>
  <%= link_to "Create Bet", new_gee_bet_path(@gee), class: "button" %>
  <%= link_to "Current Bets", gee_bets_path(@gee), class: "button" %>
  <br><br>
  <%= link_to "Back to Gees", gees_path, class: "button" %>
</div>
