<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @gee.user.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @gee.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gee.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @gee.category.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @gee.state %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @gee.is_public %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @gee.expiration_date %>
</p>

<p>
  <strong>Fields:</strong>
  <% @gee.fields.each do |field| %>
    <div class="field-data">
      <strong>Name:</strong> <%= field.name %>
      <strong>Type:</strong> <%= field.ttype %>
      <% if field.ttype == 'Number' %>
        <strong>Min. value:</strong> <%= field.min_value %>
        <strong>Max. value:</strong> <%= field.max_value %>
      <% else %>
        <strong>Alternatives:</strong>
        <ul>
          <% field.alternatives.each do |alternative| %>
            <li><%= alternative.value %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</p>

<%= link_to "Create Bet", new_gee_bet_path(@gee), class: "button" %>
<%= link_to "Current Bets", gee_bets_path(@gee), class: "button" %>
<br><br>
<%= link_to "Back to Gees", gees_path, class: "button" %>

