<%= form_for(field) do |f| %>
  <% if field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gee_id %>
    <%= f.text_field :gee_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :ttype %>
    <%= f.text_field :ttype %>
  </div>

  <div class="field">
    <%= f.label :min_value %>
    <%= f.number_field :min_value %>
  </div>

  <div class="field">
    <%= f.label :max_value %>
    <%= f.number_field :max_value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
