<p id="notice"><%= notice %></p>

<p>
  <strong>Gee:</strong>
  <%= @field.gee %>
</p>

<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @field.type %>
</p>

<p>
  <strong>Min value:</strong>
  <%= @field.min_value %>
</p>

<p>
  <strong>Max value:</strong>
  <%= @field.max_value %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
