<!DOCTYPE html>
<html>
  <head>
    <title>TecwebGrupo17</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-menu">
      <div><%= link_to "Home", root_path, class: "button" %></div>
      <div class="right">
        <%= link_to "View my profile", user_path(1), class: "button" %>
         |
        <%= link_to "Register", new_user_path, class: "button" %>
      </div>
    </div>
    <div id="app-body">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
